h1{
  text-align: center;
  color: white;
  font-size: 50px;
}

.col-md-12 {
background-color: slategray;
}

.formPart{
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}
/*.formContainer{
  height: 200px;
}*/

.col-md-4 {
  background-color: lightgrey;
}

.movieInfo {
  font-size: 20px;
}

.headings {
  font-weight: bold;
  font-size: 28px;
  color: #636667;
  background-color: aliceblue;
}

.btn {
  background-color: white;
}
